<div class="row">
  <div class="col-md-12">
    工作目录：{{rootDirectory}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="file" webkitdirectory file-dialog/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>box名字</th>
          <th>歌曲数目</th>
          <th>总时长</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="box in boxList" ng-click="openBoxDetail(box)">
          <td>{{$index + 1}}</td>
          <td>{{box.name}}</td>
          <td>{{box.songList.length}}</td>
          <td>{{box.totalLength}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>