

<h3> 音乐编辑器 </h3>
<div class="row">
  <div class="col-md-2">
    <div file-dialog  webkitdirectory on-file-selected="onFileSelected" title = '工作目录'>  </div> 
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-refresh gi-m" ng-click="refreshRootDirectory()" aria-hidden="true"></span>
  </div>
  <div class="col-md-8">
    {{rootDirectory}}
  </div>
</div>

<h3> 操作 </h3>
<div class="row">
  <div class="col-md-4">
    <a ng-href="#/period" class="btn btn-default" >
      播放周期 </span>
    </a>

    {{periodInfo.calcType | periodInfoFilter}}
  </div>
  <div class="col-md-2">
    <button class="btn btn-default" type="submit">生成压缩包</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-default" type="submit">倒入压缩包</button>
  </div>
</div>
<h3> box列表 </h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>box名字</th>
          <th>歌曲数目</th>
          <th>总时长</th>
          <th>开始时间</th>
          <th>结束时间</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="box in boxList" ng-click="openBoxDetail(box)">
          <td>{{$index + 1}}</td>
          <td>{{box.name}}</td>
          <td>{{box.songList.length}}</td>
          <td>{{box.totalLength | durationFilter}}</td>
          <td>{{box.startTm | date:'shortTime'}}</td>
          <td>{{box.endTm | date:'shortTime'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>