<div class="row">
   <div class="col-md-6">
    <h3> 音乐编辑器 </h3>
  </div>
  <div class="col-md-2">
    <br/>
    <div ng-controller="OperationCtrl" class="btn-group" dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        操作 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="openFile()">保存</a> </li>
        <li> <div file-dialog accept=".envomuse"  on-file-selected="openConfigFile" title = '打开'/> </li>
        <li> <div file-dialog saveas accept=".envomuse"  on-file-selected="saveConfigFile" title = '另存为'/> </li>
        <li class="divider"></li>
        <li><a ng-click="openFile()"> 生成工作包</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div file-dialog  webkitdirectory on-file-selected="onRootDirectorySelected" title = '工作目录'/> 
  </div>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-refresh gi-m" ng-click="refreshRootDirectory()" aria-hidden="true"></span>
  </div>
  <div class="col-md-8">
    {{rootDirectory}}
  </div>
</div>

<h3> 设置 </h3>
<div class="row">
  <div class="col-md-4">
    <a ng-href="#/period" class="btn btn-default" >
      播放周期 </span>
    </a>

    {{periodInfo.calcType | periodInfoFilter}}
  </div>
  
</div>
<h3> box列表 </h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>box名字</th>
          <th>歌曲数目</th>
          <th>总时长</th>
          <th>开始时间</th>
          <th>结束时间</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="box in boxList" ng-click="openBoxDetail(box)">
          <td>{{$index + 1}}</td>
          <td>{{box.name}}</td>
          <td>{{box.songList.length}}</td>
          <td>{{box.totalLength | durationFilter}}</td>
          <td>{{box.startTm | date:'shortTime'}}</td>
          <td>{{box.endTm | date:'shortTime'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>